h1 {
  font-family: "Lucida Console", "Roboto Light";
  text-decoration: underline;
}

.appointment-view-container {
  margin: 30px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

