<nav>
  <ul class="navbar">
    <div class="nav-link-container">
      <div class="navbar-title-container">
        <li>
          <a routerLink="/table-view" class="navbar-title">Terminplaner</a>
        </li>
      </div>
      <div class="link-container">
        <mat-button-toggle-group class="toggle" name="fontStyle" aria-label="View Toggle"
                                 (change)="onToggleChange($event)">
          <mat-button-toggle value="table" [checked]="isTableView">Table</mat-button-toggle>
          <mat-button-toggle value="calendar" [checked]="!isTableView">Calendar</mat-button-toggle>
        </mat-button-toggle-group>
        <li>
          <a routerLink="/create" class="nav-link">Erstellen</a>
        </li>
        <li>
          <a routerLink="/table-view" class="nav-link">Dashboard</a>
        </li>
      </div>
    </div>
  </ul>
</nav>
<router-outlet></router-outlet>
