.navbar {
  margin: 0;
  list-style: none;
  background-image: linear-gradient(to right, rgba(196, 215, 253, 0), rgba(196, 215, 253, 0), rgba(196, 215, 253, 1));
}

.nav-link-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  margin: 0 1.5rem 0 1.5rem;
  text-decoration: none;
  font-family: "Lucida Console", Roboto;
  cursor: pointer;
}

.navbar-title {
  margin: 0 1.5rem 0 1.5rem;
  text-decoration: none;
  font-family: "Lucida Console", Roboto;
  font-size: 25px;
  cursor: pointer;
}

.navbar-title-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle {
  margin: 5px 0 5px 0;
  box-shadow: 3px 3px 3px 3px lightgray;
}

.nav-link:hover {
  background-color: #a9c4f2;
}
