<nav>
  <ul class="navbar">
    <div class="nav-link-container">
      <div class="navbar-title-container">
        <li>
          <a routerLink="/home" class="navbar-title">Terminplaner</a>
        </li>
      </div>
      <div class="link-container">
        <mat-button-toggle-group class="toggle" name="fontStyle" aria-label="View Toggle"
                                 (change)="onToggleChange($event)" *ngIf="authService.isAuthenticated()">
          <mat-button-toggle value="table" [checked]="isTableView">Table</mat-button-toggle>
          <mat-button-toggle value="calendar" [checked]="!isTableView">Calendar</mat-button-toggle>
        </mat-button-toggle-group>

        <li *ngIf="!authService.isAuthenticated()">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="!authService.isAuthenticated()">
          <a routerLink="/register" class="nav-link">Register</a>

        <li *ngIf="authService.isAuthenticated()">
          <a routerLink="/create" class="nav-link">Erstellen</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a routerLink="/table-view" class="nav-link">Dashboard</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a (click)="logout()" class="nav-link">Logout</a>
      </div>
    </div>
  </ul>
</nav>
<router-outlet></router-outlet>
